MONGO_HOST=database
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=demoscapes_root
MONGO_INITDB_ROOT_PASSWORD=change_me_root_password
MONGO_APP_DATABASE=mortalityDB1
MONGO_API_USERNAME=demoscapes_api
MONGO_API_PASSWORD=change_me_api_password
SURFACE_RATE_LIMIT_PER_MINUTE=50
TRUST_PROXY=true
ACME_EMAIL=admin@example.com
CANONICAL_HOST=demoscapes.org
WWW_HOST=www.demoscapes.org
LOCAL_CANONICAL_HOST=demoscapes.localhost
LOCAL_WWW_HOST=www.demoscapes.localhost
LOCAL_HTTP_PORT=18080
LOCAL_HTTPS_PORT=18443
CADDY_DATA_DIR=/opt/demoscapes/caddy/data
CADDY_CONFIG_DIR=/opt/demoscapes/caddy/config
