MONGO_INITDB_ROOT_USERNAME=demoscapes_root
MONGO_INITDB_ROOT_PASSWORD=change_me_root_password
MONGO_APP_DATABASE=mortalityDB1
MONGO_API_USERNAME=demoscapes_api
MONGO_API_PASSWORD=change_me_api_password
API_PORT=3000
SURFACE_RATE_LIMIT_PER_MINUTE=50
TRUST_PROXY=false
