networks:
  mynetwork:

services:

  mongodb:
    image: mongo
    ports:
      - '27017:27017'
    networks:
      - mynetwork

  backend:
    build:
      context: /home/jon/st/sci/2026-01-demoscapes/app/backend
      dockerfile: /home/jon/st/sci/2026-01-demoscapes/app/backend/Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
    networks:
      - mynetwork
  
  frontend:
    build:
      context: /home/jon/st/sci/2026-01-demoscapes/app/frontend
      dockerfile: /home/jon/st/sci/2026-01-demoscapes/app/frontend/Dockerfile
    ports:
      - '80:80'
    depends_on:
      - backend
    networks:
      - mynetwork