version: '3'

networks:
  mynetwork:  # Define your custom network

services:
  mongodb:
    image: mongo  # Use the official MongoDB image
    ports:
      - '27017:27017'
    networks:
      - mynetwork  # Use the same custom network

  server:
    build:
      context: /home/jon/st/sci/2026-01-demoscapes/d3.js_docker
      dockerfile: /home/jon/st/sci/2026-01-demoscapes/d3.js_docker/Dockerfile
    ports:
      - '3000:3000' # Port mapping - All requests to port 3000 of host machine will be forwarded to port 3000 of the container
    depends_on:
      - mongodb
    networks:
      - mynetwork  # Define a custom network
  
  nginx:
    build:
      # folder of NGINX Dockerfile (client dockerfile)
      context: /home/jon/st/sci/2026-01-demoscapes/d3.js_docker/client-docker
    ports:
      - '80:80'  # Map container's port 80 to host's port 80
    depends_on:
      - server
    networks:
      - mynetwork