{
	email {$ACME_EMAIL}
}

{$WWW_HOST:www.demoscapes.org} {
	redir https://{$CANONICAL_HOST:demoscapes.org}{uri} permanent
}

{$CANONICAL_HOST:demoscapes.org} {
	log {
		output file /data/logs/access.log {
			roll_keep 100
			roll_keep_for 2160h
		}
		format filter {
			request>remote_ip ip_mask 24 48
			request>client_ip ip_mask 24 48
			request>headers>Cookie delete
			wrap json
		}
	}

	handle /api/* {
		reverse_proxy api:3000
	}

	handle {
		root * /srv
		file_server
	}
}
